body {
    background-color: rgb(15, 15, 48);
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor_primer {
    display: inline-block;
    margin-top: 3%;
    margin-left: 2%;
    width: 95%;
}

.contenedor_primer img {
    width: 17%;
}

.menu {
    float: right;
    margin-top: 0px;
    margin-right: 0%;
    color: white;
}

li {
    list-style-type: none;
    display: inline-block;
}

.imagen_primera {
    z-index: 1000;
    margin-top: 90px;
    text-align: center;
    margin: 50px auto;
    width: 100%;
    background: url('../images/bg-curvy-desktop.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

h1 {
    color: white;
    font-size: 40px;
    text-align: center
}

p {
    color: gray;
    font-size: 20px;
}

.boton_primero {
    margin: 50px auto;
    position: relative;
    top: -15px;
    width: 220px;
    height: 40px;
    border: 1px solid;
    border-radius: 25px;
    background-color: hsl(176, 68%, 64%);
    color: white;
    line-height: 40px;
}

.contenedor_segundo {
    margin-top: -210px;
    background-color: rgb(15, 15, 48);
}

.recuadro_uno {
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
}

.lado_izq {
    margin-top: 50px;
    text-align: center
}

.lado_der {
    margin-top: 50px;
    text-align: center
}

.recuadro_dos {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
}

.contenedor_tercero {
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px
}

.contenedor_tercero img {
    width: 45%
}

.contenedor_tercero h1 {
    text-align: left;
}

.tarjetas {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px
}

.tarjetas div {
    box-shadow: 5px 5px 20px hsl(217, 28%, 15%);
    margin-top: 50px;
    width: 350px;
    height: 220px;
    background-color: hsl(219, 30%, 18%);
}

.signos {
    height: 60px;
    width: 50px;
    margin-top: -60px;
    position: absolute;
}

.tarjeta_general {
    color: gray;
    line-height: 18px;
    padding-left: 15px;
    font-size: 8px;
}

.tarjeta_general img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: -20px;
    margin-left: 15px;
}

.datosPersonales {
    color: white;
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
}

.contenedor_cuarto {
    position: relative;
    top: 300px;
    height: 350px;
    width: 60%;
    border-radius: 5px;
    box-shadow: 5px 5px 20px hsl(217, 28%, 15%);
    margin: 50px auto;
    border: 1px solid;
    background-color: hsl(217, 28%, 15%);
    padding-left: 20px;
}

.contenedor_cuarto h1,
p {
    margin-top: 20px;
}

.contenedor_informacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn1 {
    padding-left: 30px;
    width: 50%;
    height: 50px;
    border-radius: 30px;
    margin-top: 30px;
}

.informacion {
    padding-left: 30px;
    width: 50%;
    height: 50px;
    border-radius: 30px;
    margin-top: 30px;
}

.boton_dos {
    margin-top: 30px;
    width: 220px;
    height: 50px;
    margin-left: 50px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 25px;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%))
}

.boton_dos p {
    color: white;
    margin-top: 12px
}